<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Program Fact Browser"
            allowMultiple="false"
            class="org.eclipse.imp.pdb.browser.FactBrowserView"
            id="org.eclipse.imp.pdb.factBrowser">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="org.eclipse.imp.pdb.factBrowser"
            id="org.eclipse.imp.pdb.factBrowser.clear">
         <action
               label="Clear Factbase"
               style="push"
               class="org.eclipse.imp.pdb.browser.ClearFactBaseAction"
               toolbarPath="factBrowserActions"
               id="org.eclipse.imp.pdb.factBrowser.clear">
         </action>
         <action
               label="Remove Fact"
               style="push"
               class="org.eclipse.imp.pdb.browser.RemoveFactAction"
               toolbarPath="factBrowserActions"
               id="org.eclipse.imp.pdb.factBrowser.removeFact">
         </action>
          <action
               label="Show Fact"
               style="push"
               class="org.eclipse.imp.pdb.browser.ShowAction"
               toolbarPath="factBrowserActions"
               id="org.eclipse.imp.pdb.factBrowser.showFact">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.imp.pdb.ui.graph.Editor"
            default="false"
            id="org.eclipse.imp.pdb.ui.graph.editor"
            icon="icons/graphEditor.gif"
            name="PDB Value Graph">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.imp.pdb.ui.tree.Editor"
            default="false"
            icon="icons/graphEditor.gif"
            id="org.eclipse.imp.pdb.ui.tree.editor"
            name="Value Tree Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.eclipse.imp.pdb.ui.tree.contributions"
            targetID="org.eclipse.imp.pdb.ui.tree.editor">
         <action
               class="org.eclipse.imp.pdb.ui.tree.ExpandAll"
               id="org.eclipse.imp.pdb.ui.tree.expandAll"
               label="Expand All"
               menubarPath="additions"
               style="push"
               toolbarPath="additions">
         </action>
         <action
               class="org.eclipse.imp.pdb.ui.tree.CollapseAll"
               id="org.eclipse.imp.pdb.ui.tree.collapseAll"
               label="Collapse All"
               menubarPath="additions"
               style="push"
               toolbarPath="additions">
         </action>
      </editorContribution>
   </extension>
</plugin>
